body {
    font-family: 'Arial','Avenir','Helvetica Neue','Helvetica','Hiragino Sans','ヒラギノ角ゴシック',YuGothic,'Yu Gothic','メイリオ', Meiryo,'ＭＳ Ｐゴシック','MS PGothic';
    width: 100vw;

}
.main-section {
    height: 0;
    background: #FFFFFF url("../image/website.png") no-repeat center center;
    background-size: 100% auto;
    padding-top: 132.6%;
}
@media screen and (min-width: 750px) {
    .main-section {
        width: 750px;
        padding-top: 956px;
        padding-bottom: 36px;
        margin: 0 auto 0 auto;
    }
}

.tube-wrap {
    position: relative;
    padding-bottom: 56.25%; /*アスペクト比 16:9の場合の縦幅*/
    height: 0;
    overflow: hidden;
    margin: 70px auto 70px auto;
}
@media screen and (min-width: 750px) {
    .tube-wrap {
        padding-bottom: 0;
        width: 750px;
        height: 500px;
    }
}

.tube-wrap iframe {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0 auto 0 auto;
    width: 100%;
    height: 100%;
}