body {
    font-family: 'Arial','Avenir','Helvetica Neue','Helvetica','Hiragino Sans','ヒラギノ角ゴシック',YuGothic,'Yu Gothic','メイリオ', Meiryo,'ＭＳ Ｐゴシック','MS PGothic';
    width: 100vw;

}
.main-section {
    height: 0;
    background: #FFFFFF url("../image/website.png") no-repeat center center;
    background-size: 100% auto;
    padding-top: 132.6%;
}
@media screen and (min-width: 750px) {
    .main-section {
        width: 750px;
        padding-top: 956px;
        margin: 0 auto 0 auto;
    }
}