body {
    font-family: 'Arial','Avenir','Helvetica Neue','Helvetica','Hiragino Sans','ヒラギノ角ゴシック',YuGothic,'Yu Gothic','メイリオ', Meiryo,'ＭＳ Ｐゴシック','MS PGothic';
    width: 100vw;
}

.header-section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 63px;
}
@media screen and (min-width: 481px) {
    .header-section {
        justify-content: flex-start;
        height: 77px;
        margin-left: 13px;
    }
}

.logo-pc {
    display: none;
}
@media screen and (min-width: 481px) {
    .logo-sp {
        display: none;
    }
    .logo-pc {
        display: flex;
        width: 219px;
        height: 71px;
    }
}

.main-visual-section {
    display: inline-block;
    width: 100%;
    height: 530px;
    background: #161616;
}
@media screen and (min-width: 481px) {
    .main-visual-section {
        height: 623px;
    }
}

.main-visual {
    background-image: url("../image/main_visual.svg");
    background-position: right;
    background-repeat: no-repeat;
    margin: 135px auto auto auto;
    width: 340px;
    height: 228px;
    text-align: center;
}

@media screen and (min-width: 481px) {
    .main-visual {
        width: 650px;
        height: 457px;
        background-size: cover;
        margin: 74px auto auto auto;
    }
}
/* iPhone5/SEだとダサくなっちゃうので調整する */
@media screen and (max-width: 320px) {
    .main-visual {
        width: 300px;
        height: 201px;
        background-size: cover;
        margin: 130px auto auto 14px;
    }
}

.treasure {
    display: inline-block;
    margin-top: 80px;
}

@media screen and (min-width: 481px) {
    .treasure {
        width: 160px;
        height: 146px;
        margin-top: 153px;
        margin-left: -20px;
    }
}
/* iPhone5/SEだとダサくなっちゃうので調整する */
@media screen and (max-width: 320px) {
    .treasure {
        margin-top: 66px;
        margin-left: -14px;
    }
}

.about-section {
    text-align: center;
    width: 100%;
}

.topic-title {
    margin-top: 63px;
    font-family: Futura;
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 37px;
    color: #4F4F4F;
}

.kerning-tuning {
    letter-spacing: -0.02em;
}

.topic-title-line {
    width: 26px;
    height: 0px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8px;
    border: 1.5px solid #4F4F4F;
}

.company-section {
    text-align: center;
    width: 100%;
}

.plain-description {
    margin: 33px auto 40px auto;
    width: 312px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 28px;/* or 200% */
    color: #4F4F4F;
    text-align: left;
}
/* iPhone5/SEだとダサくなっちゃうので調整する */
@media screen and (max-width: 320px) {
    .plain-description {
        width: 260px;
        font-size: 12px;
    }
}

.company-description {
    margin: 33px auto 90px auto;
    width: 223px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 30px;/* or 214% */
    color: #4F4F4F;
    text-align: left;
}

.footer-section {
    text-align: center;
    width: 100%;
    height: 41px;
    background: #161616;
}

.copyright {
    display: inline-block;
    margin-top: 5px;
    width: 79px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 30px;/* or 214% */
    color: #E3E3E3;
}